@import "../setup/normalize";
@import "../setup/variables";
@import "../setup/mixins";

@import "~compass-mixins/lib/compass/css3";

a{
  @include transition(0.2s);
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  @include border-radius(25px);
  @include transition();
  background: transparent;
  padding: 1em 1.5em;
  outline: none;
  font-weight: $light;
  border: 1px solid $accent-color;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $accent-color;
  }
}

input {
  display: inline-block;
  outline: none;
  font-size: $text;
  padding: 1em 1em;
  border: none;
  border-bottom: 1px solid $gray-color--light;
  color: $gray-color;
  font-weight: $light;

  &:focus {
    border-bottom: 1px solid $tertiary-color;
  }

  &::placeholder {
    font-weight: $light;
    color: $gray-color;
  }
}

.main-color {
  color: $main-color;
}

.secondary-color {
  color: $secondary-color;
}

.tertiary-color {
  color: $tertiary-color;
}

.margin-bottom-row {
  margin-bottom: 10%;
}

.icon {
  width: 2vw;
  height: auto;
}
