@import "../setup/normalize";
@import "../setup/variables";
@import "../setup/mixins";
@import "~compass-mixins/lib/compass/css3";

a {
  @include transition(0.2s);
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

select:active, select:hover, select:focus {
  outline: none
}


button {
  @include border-radius(2em);
  @include transition(0.3s);
  background: #fff;
  padding: 0.5em 1em;
  outline: none;
  font-weight: $light;
  border: 1px solid $main-color;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $main-color;
  }
}

.button-add {
  @extend button;
  background-color: $main-color;

  &:hover {
    background-color: #a7ffec;
  }
}

.button-cancel {
  @extend button;
  border-color: $secondary-color;
  &:hover {
    border-color: $secondary-color;
    background: $secondary-color;
  }
}

input {
  display: inline-block;
  outline: none;
  font-size: $text;
  padding: 0.5em 1em;
  border: none;
  border-bottom: 1px solid $gray-color--light;
  color: $gray-color;
  font-weight: $light;

  &:focus {
    border-bottom: 1px solid $tertiary-color;
  }

  &::placeholder {
    font-weight: $light;
    color: $gray-color;
  }
}

input[type="radio"] {
  display: none;
}

textarea {
  @include text-light($text, $gray-color--dark);
  @include border-radius(0.3em);
  resize: none;
  width: 100%;
  border: 1px solid $gray-color--light;
  padding: 0.5em 1em;

  &:focus {
    outline: none;
    border-color: $tertiary-color;
  }

}

.main-color {
  color: $main-color;
}

.secondary-color {
  color: $secondary-color;
}

.tertiary-color {
  color: $tertiary-color;
}

.margin-bottom-row {
  margin-bottom: 10%;
}

.icon {
  width: 2vw;
  height: auto;
}
