@import "../basics/base";

.modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50vw;
  margin: 0 auto;
  padding: 3% 5%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.board-section {
  background: url('../assets/textures/dots-texture.svg') repeat center top;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

//$steps: 5;
//$gradient-color: $secondary-color;
//$amount: 10;
//
//@for $i from 0 through $steps {
//  .menu__item:nth-child(#{$i}){
//    background-color: #{darken($gradient-color, $i * $amount)};
//  }
//}
//
//@for $i from 0 through $steps {
//  .hue, .menu__item:nth-child(#{$i}){
//    background-color: #{adjust-hue($gradient-color, $i * 8)};
//  }
//}

.menu {
  font-weight: $light;
  height: 100%;

  li {
    height: 30%;
    margin-bottom: 5%;
  }

  &__bg {
    @include transition(0.3);
    @include border-radius(50%);
    width: 50%;
    height: auto;
    padding-top: 50%;
    position: relative;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__bg-maincolor {
    background-color: $main-color;
    &:hover {
      background-color: #65C9AE;
    }
  }

  &__bg-secondarycolor {
    background-color: $secondary-color;
    &:hover {
      background-color: #C96C8F;
    }
  }

  &__bg-tertiarycolor {
    background-color: $tertiary-color;
    &:hover {
      background-color: #C9996A;
    }
  }

  &__item {
    @include border-radius(50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    height: auto;

    &:hover {
      color: black;
    }
  }
}

.menu__item-note {
  background: url("../assets/icons/note.png") no-repeat center top / cover;

}

.menu__item-image {
  background: url("../assets/icons/image.png") no-repeat center top / cover;

}

.menu__item-audio {
  background: url("../assets/icons/audio.png") no-repeat center top / cover;
}

.menu__item-note, .menu__item-image, .menu__item-audio {
  background-size: 70%;
  background-position: 50% 50%;
}

.input-large {
  text-align: center;
  font-size: $header-subtitle;
  padding: 0;
}

.konva-container {
  //box-shadow: 0 0 1px #ddd, 0 2px 2px;
  border: 1px solid $secondary-color;
}

.color-label {
  @include border-radius(50%, 50%);
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  border: 1px solid black;

  :first-child {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
    filter: grayscale(50%);
  }

  &--small {
    width: 1em;
    height: 1em;
    margin-left: 0.3em;
  }
}

.color-label--dots {
  background: url("../assets/textures/dots.jpg") center top / cover;
}

.color-label--dots2 {
  background: url("../assets/textures/dots2.jpg") center top / cover;
}

.color-label--line {
  background: url("../assets/textures/line.jpg") center top / cover;
}

.color-label--grid {
  background: url("../assets/textures/grid.png") center top / cover;
}
