@import "../basics/base";

.form {
  padding: 5% 10%;
  background-color: #fff;
  border: 1px solid $tertiary-color;
}

.bg {
  background: url("../assets/images/2.svg") no-repeat center top / cover;
}
