//FONT-WEIGHT
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$main-font: 'Poppins', sans-serif;


//FONT-SIZE
$header: 6.25em;//100px;
$header-subtitle: 2.25em;//36px;
$section-title: 5em;//80px;
$subtitle: 1.125em;//18px;
$text: 0.875em;//14px;
$title: 1.5em;//24px;
$button-text: 0.75em;//12px;

$icons: 1.5em; //24px

//COLORS
$accent-color: #7443ff;
$main-color: #2a2d2e;
$secondary-color: #fff;
$text-color: #72787a;
$bg-color: #202129;
$bg-testimonials: #f0fafd;


$gray-color: #72787a;
$gray-color--light: #818586;
