@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,700,800,900|Alice|Neucha|Philosopher:400,700|Poiret+One&subset=cyrillic');

//font-family: 'Poiret One', cursive;
//font-family: 'Neucha', cursive;
//font-family: 'Philosopher', sans-serif;
//font-family: 'Alice', serif;
//font-family: 'Alegreya Sans SC', sans-serif;


//FONT-WEIGHT
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$main-font: 'Poppins', sans-serif;

//FONT-SIZE
$header: 3em;
$header-subtitle: 2.25em;
$section-title: 2.8em;
$subtitle: 1.125em;
$text: 0.875em;
$title: 1.5em;
$button-text: 0.75em;

$icons: 1.5em;

//COLORS
$main-color: #7bf3d8;
$secondary-color: #f37bae;
$tertiary-color: #f3bc7b;
$accent-color: #7443ff;
$text-color: #72787a;

$gray-color--dark: #474747;
$gray-color: #72787a;
$gray-color--light: #bebebe;
